<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tf.thinkdroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="14" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:largeHeap="true" >
        
        <!-- common -->
		<activity
		    android:name="com.tf.thinkdroid.common.activity.ErrorActivity"
		    android:configChanges="keyboardHidden|orientation|keyboard|locale|screenSize"
		    android:noHistory="true"
		    android:theme="@android:style/Theme.Dialog">
		</activity>
		<activity android:name="com.tf.thinkdroid.common.activity.FilePropertiesActivity"
			android:label="@string/fileproperties" android:process=":properties"
			android:theme="@android:style/Theme.Holo"
			android:configChanges="keyboardHidden|orientation|keyboard|locale|screenSize">
			<intent-filter>
				<action android:name="com.tf.intent.action.VIEW_PROPERTIES" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="file" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.tf.intent.action.VIEW_PROPERTIES" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="content" />
				<data android:mimeType="application/msexcel" />
				<data android:mimeType="application/vnd.ms-excel" />
				<data
					android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
				<data android:mimeType="text/comma-separated-values" />
				<data android:mimeType="text/xml" />
				<data android:mimeType="text/plain" />
				<data android:mimeType="text/rtf" />
				<data android:mimeType="application/rtf" />
				<data android:mimeType="application/msword" />
				<data android:mimeType="application/vnd.ms-word" />
				<data
					android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
				<data android:mimeType="application/mspowerpoint" />
				<data android:mimeType="application/vnd.ms-powerpoint" />
				<data
					android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.tf.intent.action.VIEW_PROPERTIES" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<!-- calc -->
		<activity
		    android:name="com.tf.thinkdroid.calc.CalcViewerActivity"
		    android:label="@string/app_name"
		    android:process=":calcdroid"
		    android:configChanges="keyboardHidden|orientation|keyboard|locale|screenSize"
		    id="calc.main">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="com.thinkfree.example.category.DEFAULT" />
				<data android:mimeType="application/msexcel" />
				<data android:mimeType="application/vnd.ms-excel" />
				<data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
				<data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.template" />
				<data android:mimeType="text/csv" />
				<data android:mimeType="text/comma-separated-values" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="com.thinkfree.example.category.DEFAULT" />
				<data android:scheme="file" android:host="" android:pathPattern=".*\\.xls" />
				<data android:scheme="file" android:host="" android:pathPattern=".*\\.xlt" />
				<data android:scheme="file" android:host="" android:pathPattern=".*\\.xlsx" />
				<data android:scheme="file" android:host="" android:pathPattern=".*\\.xltx" />
				<data android:scheme="file" android:host="" android:pathPattern=".*\\.csv" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.tf.thinkdroid.calc.CalcPreferences"
			android:process=":calcdroid">
		</activity>
		
		<!-- write -->
		<activity
		    android:name="com.tf.thinkdroid.write.viewer.WriteViewerActivity"
		    android:label="@string/app_name"
		    android:configChanges="keyboardHidden|orientation|keyboard|locale|screenSize"
		    android:windowSoftInputMode="stateAlwaysHidden"
		    android:process=":writedroid">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
				<category android:name="com.thinkfree.example.category.DEFAULT"/>
				<data android:mimeType="application/rtf"></data>
				<data android:mimeType="application/msword"></data>
				<data android:mimeType="application/vnd.ms-word"></data>
				<data android:mimeType="text/xml"></data>
				<data android:mimeType="text/rtf"></data>
				<data android:mimeType="text/plain"></data>
				<data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document"></data>
				<data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.template"></data>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
				<category android:name="com.thinkfree.example.category.DEFAULT"/>
				<data android:scheme="file" android:host="" android:pathPattern=".*\\.doc"></data>
				<data android:scheme="file" android:host="" android:pathPattern=".*\\.dot"></data>
				<data android:scheme="file" android:host="" android:pathPattern=".*\\.rtf"></data>
				<data android:scheme="file" android:host="" android:pathPattern=".*\\.docx"></data>
				<data android:scheme="file" android:host="" android:pathPattern=".*\\.dotx"></data>
				<data android:scheme="file" android:host="" android:pathPattern=".*\\.xml"></data>
				<data android:scheme="file" android:host="" android:pathPattern=".*\\.txt"></data>
			</intent-filter>
		</activity>
		<activity
			android:configChanges="keyboardHidden|orientation|locale"
			android:name="com.tf.thinkdroid.write.viewer.ui.WriteViewerPreferences"
			android:process=":writedroid">
		</activity>
		
		<!-- show -->
		<activity
		    android:name="com.tf.thinkdroid.show.ShowViewerActivity"
		    android:label="@string/app_name"
		    android:configChanges="keyboardHidden|orientation|keyboard|locale|screenSize"
		    android:process=":showdroid">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
				<category android:name="com.thinkfree.example.category.DEFAULT"/>
				<data android:mimeType="application/vnd.ms-powerpoint"></data>
				<data android:mimeType="application/mspowerpoint"></data>
				<data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation"></data>
				<data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.template"></data>
				<data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.slideshow"></data>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
				<category android:name="com.thinkfree.example.category.DEFAULT"/>
				<data android:scheme="file" android:host="" android:pathPattern=".*\\.ppt"></data>
				<data android:scheme="file" android:host="" android:pathPattern=".*\\.pps"></data>
				<data android:scheme="file" android:host="" android:pathPattern=".*\\.pot"></data>
				<data android:scheme="file" android:host="" android:pathPattern=".*\\.pptx"></data>
				<data android:scheme="file" android:host="" android:pathPattern=".*\\.ppsx"></data>
				<data android:scheme="file" android:host="" android:pathPattern=".*\\.potx"></data>
			</intent-filter>
		</activity>
		<activity android:name="com.tf.thinkdroid.show.ShowNoteActivity"
			android:label="@string/show_title_app" android:icon="@drawable/ic_actionbar_show"
			android:configChanges="keyboardHidden|orientation|keyboard|locale|screenSize"
			android:windowSoftInputMode="adjustResize">
		</activity>
		<activity
			android:name="com.tf.thinkdroid.show.ShowPreferences"
			android:process=":showdroid">
		</activity>
		
		<!-- PDF Viewer Start -->
		<activity
		    android:name="com.tf.thinkdroid.pdf.TfpStartActivity"
		    android:configChanges="keyboardHidden|orientation|keyboard|locale|screenSize"
		    android:windowSoftInputMode="adjustPan"
		    android:process=":tfdroid">
			<intent-filter>
				<action android:name="android.intent.action.EDIT"></action>
				<action android:name="android.intent.action.VIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
				<category android:name="com.thinkfree.example.category.DEFAULT"/>
				<data android:mimeType="application/pdf"></data>
			</intent-filter>
		</activity>
		<activity
		    android:name="com.tf.thinkdroid.pdf.app.RenderScreen"
		    android:label="@string/app_name"
		    android:configChanges="keyboardHidden|orientation|keyboard|locale|screenSize"
		    android:windowSoftInputMode="adjustPan"
		    android:process=":tfdroid">
		</activity>
		<activity
		    android:name="com.tf.thinkdroid.pdf.app.BookmarksScreen"
		    android:label="@string/app_name"
		    android:configChanges="keyboardHidden|orientation|keyboard|locale|screenSize"
		    android:process=":tfdroid">
		</activity>
		
    </application>

</manifest>